################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/core/.vs/core/v16
/.vs
/gui/CPUEmulator/release
/gui/CPUEmulator/debug
/gui/CPUEmulator/.gitignore
/core/core_unicorn/Debug
/core/Debug
/core/core_core/Debug
